#activate_translation {
    position: fixed;
    right: 50%;
    top: 0px;
    z-index: 3000000;
    padding: 12px;
    background: #00a0d2;
    color: white;
    letter-spacing: 0;
    outline: none;
    border: none;
    box-shadow: 0 2px hsla(194, 100%, 28%, 1);
    cursor: pointer;
    padding-left: 16px;
    height: 45px;
    width: auto;
    transition: all 0.3s;
}

#activate_translation.active {
    background: #00d29e;
    box-shadow: 0px 2px 2px #06b600ab;
    transition: all 0.3s;
}

.edit_post_link {
    display: none;
    background: #00a0d2;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    box-shadow: 0 2px hsla(194, 100%, 28%, 1);
}