
#logo_htc {
    display: block;
    width: 70px;
    position: absolute;
    bottom: 114px;
}

.logo_container {
    top: 10vh;
}

.slide_footer {
    position: absolute;
    bottom: 1.1cm;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.video_player {
    /* top: -36px; */
    width: 100%;
    transform: scale(1.4);
}

/* ====================================== */
/*           CARRES MOSAIQUE              */
/* ====================================== */

.carre_container {
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.carre {
    width: 200px;
    max-width: 300px;
    height: 30vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .carre .ligne1, .carre .ligne2 {font-size: 1rem} */

/* .carre .ligne2 {
    margin-top: -0.5rem;
}

.carre .detail {
    font-size: 0.55rem;
    line-height: 0.6rem;
}

.carre.arrow::before {
    top: 0;
} */

/* ====================================== */
/*             TEMOIGNAGES                */
/* ====================================== */

.golden_box {
    position: relative;
    bottom: 1rem;
    width: 60vw;
    margin-left: 20vw;
    padding: 2rem;
    text-align: center;
    font-family: 'Traveling Typewriter', 'Helvetica Neue LightItalic';
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: white;
}