
/* ======================================== */
/*            IMAGE D'ACCUEIL               */
/* ======================================== */

.info .titre {
    text-align: left;
    align-self: baseline;
    font-weight: bold;
    margin-left: 2rem;
    line-height: 4.5rem;
    font-size: 3.5rem;
}

.info .titre::before {
    content: '';
}

.info .soustitre {
    display: none;
}

#titrepage {display: none}


/* ======================================== */
/*                 CARDS                    */
/* ======================================== */

::-webkit-scrollbar-button, ::-webkit-scrollbar {
    visibility: hidden;
}

.category_container h2, .category_container h3 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.list_next {display: none}
.list_next::after {
    display: none;

    position: relative;
    top: 123px;
    left: 93vw;
    content: "»";
    cursor: pointer;
    background: var(--primary-color);
    text-align: center;
    z-index: 1000;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: block;
}

.card_container, .carres_list {
    height: 190px;
}
.carres_container.bestof .carres_list {
    height: auto;
}

.carres_container.bestof .card {
    height: 25rem;
    width: 16rem;
    min-width: 16rem;
}

.card, .carre {
    width: 206px;
    min-width: 206px;
    cursor: pointer;
}

.carres_container:not(.bestof) .card:hover, .card.open {
    width: 225px;
    min-width: 225px;
    height: 185px;
    position: relative;
}

.bestof .card_title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.7rem;
    cursor: pointer;
    margin-bottom: -2px;
    height: 6rem;
}

.bestof .card_title::before {
    content: "»";
    font-size: 2.4rem;
    display: block;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
}