/* === tile card === */

.tile_card {
    display: none;
    opacity: 0;
    transition: 0.3s;

    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1400;
    padding: 15vh 10px 0 10px;

    color: white;
}

.tile_card_active {
    display: block;
    transition: 0.3s;
}

.tile_card_anim {
    opacity: 1;
    transition-delay: 0.6s;
    transition: opacity 0.6s ease-out;
}




/* === flipping === */

.flip-container {
    /* perspective: 1000; */
    background: black;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}
.flipper.trlong {
    transition: 1.2s;
}

.front, .back {
    backface-visibility: hidden;
    transform: rotateX(0deg); /* just to fix bug on firefox for backface-visibility: hidden */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    /* background: #aaaaff; */
}